
@{
    ViewBag.Title = "About";
}

<h2>About of developers</h2>
<br/>

<ul>
    <li>
        <h4>Nombre: Wilmeris Michel Arias Ozuna</h4>
    </li>
    <li>
        <h4>Matricula: 2018-6353</h4>
    </li>
    <li>
        <h4>Correo: 20186353@itla.edu.do</h4>
    </li>
    <li>
        <h4>Numero Telefonico: 809-354-8863</h4>
    </li>
    <li>
        <h4>Modulos que desarrollo:</h4>
        <h5>Login de Facebook</h5>
        <h5>Formulario</h5>
        <h5>Acerca de</h5>
    </li>
</ul>


<img src=~/Content/imagenes/Foto.jpg width="280" height="280">

<br/>
<br />
<br />



<ul>
    <li>
        <h4>Nombre: Laura Maria Quiñones</h4>
    </li>
    <li>
        <h4>Matricula: 2018-6556</h4>
    </li>
    <li>
        <h4>Correo: 20186556@itla.edu.do</h4>
    </li>
    <li>
        <h4>Modulos que desarrollo:</h4>
        <h5>Conversor de unidades</h5>
        <h5>Filtro de contenidos</h5>
        
    </li>

</ul>
<img src=~/Content/imagenes/InfoLau.png width="280" height="280">



